@model Curso

@{
    ViewData["Title"] = "Edición de Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All"></div>
<form method="POST" asp-controller="Curso" asp-action="Update">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre"/>
    </div>
    <div>
        <label asp-for="Dirección"></label>
        <input asp-for="Dirección"/>
    </div>
    <div>
        <label asp-for="Jornada"></label>
        @* <input asp-for="Jornada"/> *@
        @Html.DropDownList(
            "Jornada",
            Html.GetEnumSelectList<TiposJornada>(),
            "Seleccione una jornada",
            new { @class = "form-control" }
            )
    </div>
    <input type="hidden" asp-for="Id" />

    <input type="submit"/>
</form>