@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Información Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Curso curso in @Model)
    {
        <tr>
            <td>@curso.Nombre</td>
            <td>@curso.Id</td>
        </tr>
    }
    </tbody>
</table>